body {
    color: rgba(255, 255, 255, .7);
    background-image: url('../images/sticky1000_dim.jpg');
    background-repeat: repeat;
    background-color: #161616;
    background-size: 250px;
    background-repeat: repeat;
    overflow: auto;
    font-family: 'comfortaa';
}

a {
    display: block;
}

iframe {
    box-shadow: 2px 2px 15px 2px black;
}

button {
    background-color: #161616;
    color: rgba(255, 255, 255, .7);
    border: none;
    padding: .4em 1em;
}

button:hover {
    background-color: #121212;
    color: #e6ffe6;
}

.navigation a, .navigation a:visited  {
    color: #121212;
}

.navigation a:hover,
.navigation a:active {
    color: #e6ffe6;
}

.toggle-indicator:hover {
    background-color: rgba(255, 255, 255, .1);
}

.shadowbox {
    box-shadow: 5px 5px 20px black;
}

.header a {
    color: #121212;
    font-family: 'ArchitectsDaughter', Courier, monospace;
}

.header h1 {
    text-shadow: 0 0 10px #e6ffe6;
}

.header img {
    border-radius: 3.5em;
    border: 3px solid #121212;
    box-shadow: 0 0 10px #e6ffe6;
}

.content {
    background-color: rgba(255, 255, 255, .1);
}

.content h1 {
    text-align: center;
    color: #121212;
}

.content h1, .navigation {
    text-shadow: 0 0 5px #e6ffe6;
    font-weight: bolder;
}

footer {
    color: antiquewhite;
    opacity: .6;
}