@font-face {
  font-family: 'OctinSpraypaintFree';
  src: url('octin-spray-paint/OctinSpraypaintFree.eot?#iefix') format('embedded-opentype'),  url('octin-spray-paint/OctinSpraypaintFree.woff') format('woff'), url('octin-spray-paint/OctinSpraypaintFree.ttf')  format('truetype'), url('octin-spray-paint/OctinSpraypaintFree.svg#OctinSpraypaintFree') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'walker-free-style';
  src: url('walker-free-style/walker-free-style.eot?#iefix') format('embedded-opentype'),  url('walker-free-style/walker-free-style.woff') format('woff'), url('walker-free-style/walker-free-style.ttf')  format('truetype'), url('walker-free-style/walker-free-style.svg#walker-free-style') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Degrassi';
  src: url('degrassi/Degrassi.eot?#iefix') format('embedded-opentype'),  url('degrassi/Degrassi.woff') format('woff'), url('degrassi/Degrassi.ttf')  format('truetype'), url('degrassi/Degrassi.svg#Degrassi') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '1942';
  src: url('1942.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gunfighter';
  src: url('gunfighter/GunfighterAcademy-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'typewriter-trashed';
  src: url('typewriter\ trashed/typewriter_________royal200trashed.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ArchitectsDaughter';
  src: url('ArchitectsDaughter-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bangers';
  src: url('Bangers-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'comfortaa';
  src: url('Comfortaa-VariableFont_wght.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'exo2';
  src: url('Exo2-VariableFont_wght.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fedoka1';
  src: url('FredokaOne-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'museo-moderno';
  src: url('MuseoModerno-VariableFont_wght.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'new-tegomin';
  src: url('NewTegomin-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'press-start-2p';
  src: url('PressStart2P-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'raleway';
  src: url('Raleway-VariableFont_wght.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'shadows-into-light';
  src: url('ShadowsIntoLight-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'syne-mono';
  src: url('SyneMono-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}